main {
    display: flex;
    margin-left: 24%;
}

h1 {
    font-size: 3vw;
    margin-bottom: -7px;
    margin-left: -3px;
}

body {
    padding-top: 150px; /* Ajusta este valor según la altura de tu encabezado */
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white; /* O el color de fondo que prefieras */
    z-index: 1000;
    padding: 10px 24%; /* Ajusta el padding según tus necesidades */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Opcional: añade una sombra para separar visualmente */
}

@media screen and (max-width: 400px) {
    .fixed-header {
        padding: 10px 14%;
    }
}

@media screen and (max-width: 300px) {
    .fixed-header {
        padding: 10px 0;
    }
}

article{
    margin-top: 60px;
}

input[type="checkbox"] {
    transform: scale(1.5);
    cursor: pointer;
}

input[type="checkbox"]:checked+a {
    text-decoration: line-through;
    opacity: 0.6;
    transition: all 0.3s ease;
}

div {
    margin-bottom: 15px;
}

.espacioDiv {
    margin-left: 24px;
}

.espacioAhref {
    margin-left: 10px;
}

img {
    width: 22px;
    height: 22px;
}

a {
    text-transform: none;
    text-decoration: none;
}


.span {
    height: 20px;
}

.logos--youtube-icon {
    display: inline-block;
    width: 17.07px;
    height: 12px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 180'%3E%3Cpath fill='%23d1d1d1' d='M250.346 28.075A32.18 32.18 0 0 0 227.69 5.418C207.824 0 127.87 0 127.87 0S47.912.164 28.046 5.582A32.18 32.18 0 0 0 5.39 28.24c-6.009 35.298-8.34 89.084.165 122.97a32.18 32.18 0 0 0 22.656 22.657c19.866 5.418 99.822 5.418 99.822 5.418s79.955 0 99.82-5.418a32.18 32.18 0 0 0 22.657-22.657c6.338-35.348 8.291-89.1-.164-123.134'/%3E%3Cpath fill='%23fff' d='m102.421 128.06l66.328-38.418l-66.328-38.418z'/%3E%3C/svg%3E");
}

.pBy {
    color: grey;
    text-decoration:underline;
}

/* Barra de progreso */
.progress-container {
    display: flex;
    /* align-items: center; */
    width: 100%;
    margin-bottom: 20px;

}

.progress-label {
    margin-right: 10px; /* Espacio entre "Progreso:" y la barra */
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    font-weight: bold;
    color: grey;
}

.progress-bar-container {
    flex-grow: 1;
    background-color: #f0f0f0;
    border-radius: 5px;
    position: relative;
    height: 20px;
}

.progress-bar {
    width: 0;
    height: 100%;
    background-color: #4CAF50;
    border-radius: 5px;
    transition: width 0.5s ease-in-out;
}

#progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000; /* O el color que prefieras */
}